#selfie {
  display: block;
  float: right;
  position: relative;
  margin: 0 auto;
  max-width: 100px;
  margin: 10px 0 10px 0;
  border-radius: 200%;
  height: 5em;
}

.navbar {
      margin-bottom: 20px;
      border-radius: 0;
    }

.container {
  background-color: #72a85a;
  border-radius: 15px;
  margin-top: 20px;
}

#headline {
  background-color: #467332;
  padding-top: 60px;
}

