body {
  background-color: #ABB7B7;
}

#links a:link {
  color: #000;
}

#links a:visited {
  color: #000;
}

div {
  text-color: #354546;
  
}

#wall {
  
  background-color: #60646D;
  opacity: .9;
  max-width: 100%;
  height: auto;
}
#selfie {
  display: block;
  float: right;
  position: relative;
  margin: 0 auto;
  max-width: 100px;
  margin: 10px 0 10px 0;
  border-radius: 200%;
  height: 5em;
}

.navbar {
      margin-bottom: 20px;
      border-radius: 0;
    }

.container {
  background-color: #72a85a;
  border-radius: 15px;
  margin-top: 20px;
}

#headline {
  background-color: #467362;
  padding-top: 80px;
  border-radius: 11%;
}

#links {
  background-color: #106B60;
  opacity: 95%;
}

#twitter {
  border: 2px black;
}